body  {
     color:green;
    background:beige

}
}

header{
     border-bottom: solid 2PX BLACK;
}
img {
  height: 200px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}
.categoria-videos img {
 opacity:0.5;
 height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
.categoria h2 {
    color: rgb(3, 11, 20);
}
.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
body {
  color: rgb(11, 130, 49);
  background: rgb(187, 216, 196);
  margin: 0px;
  font-family: "TURMA DA MÔNICA - CUIDANDO DO MEIO AMBIENTE!", EMOJI;
  font-family: "ALURA VERDE",emoji;
  margin-bottom: 100px;
}
.top-link {
  position: absolute;
  right: 20px;
  top: 20px;
  left: 0px;
  font-size: 15px;
  text-decoration: none;
  color: #11e515;
  background: #04640a;
  padding: 8px 10px;
  border-radius: 40px;
}
.imagem-pequena {
  width: 70px;
  height: 70px;
}